#!/usr/bin/make -f

%:
	dh --with quilt $@

override_dh_auto_build:
	test ! -d .git || dh_quilt_unpatch
	$(MAKE) -C libs/

override_dh_auto_clean:
	test ! -d .git || dh_quilt_unpatch
	dh_auto_clean
	$(MAKE) -C libs/ clean

override_dh_auto_install:
	$(MAKE) -C libs/  DESTDIR=$(CURDIR)/debian/tmp install
